@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Set default body font */
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #301b92;
  --color-secondary: #010101;
  --color-accent: #fe8f1b;
  --color-base-300: #f3f4f6;
  --color-border-color: #e7e7e9e6;
  --color-neutral: #404040; /*#808080*/
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a,
button {
  @apply cursor-pointer;
}

strong{
  @apply px-1!;
}
.input-class{
  @apply w-full pl-4 pr-4 py-3 border border-border-color rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent outline-none transition
}


/* Custom Animation */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease-out forwards;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-out infinite alternate;
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes moveCar {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(110vw);
  }
}

.animate-moveCar {
  animation: moveCar 12s linear infinite;
  will-change: transform;
}

.location-link{
  @apply underline font-bold px-1
}

/* .swal-compact-popup {
  border-radius: 12px !important;
}

.swal-compact-title {
  font-size: 18px !important;
  margin: 8px 0 6px !important;
}

.swal-compact-html {
  font-size: 13px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.swal-compact-actions {
  margin-top: 10px !important;
  gap: 8px !important;
}

.swal-compact-confirm,
.swal-compact-cancel {
  padding: 8px 12px !important;
  border-radius: 8px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.swal-compact-confirm {
  background: #6d5efc !important;
  color: #fff !important;
  border: none !important;
}

.swal-compact-cancel {
  background: #6b7280 !important;
  color: #fff !important;
  border: none !important;
} */

.swal2-container {
  z-index: 99999 !important;
}