@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Set default body font */
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #301b92;
  --color-secondary: #010101;
  --color-accent: #fe8f1b;
  --color-base-300: #f3f4f6;
  --color-border-color: #e7e7e9e6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a,
button {
  @apply cursor-pointer;
}
